<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geek01.yupaoBackend.mapper.UserMapper">
    <select id="selectUsersByTagsName" parameterType="java.util.List" resultType="com.geek01.yupaoBackend.domain.User">
        select * from user
        where isDelete=0 and userRole=0
        <foreach collection="list" item="tag" separator="and">
            tags like concat('%',#{tag},'%')
        </foreach>
    </select>

    <select id="getUserByUserAccount" parameterType="String" resultType="com.geek01.yupaoBackend.domain.User">
        select * from user
        where userRole=0 and userAccount=#{userAccount}
    </select>

    <insert id="addNewUserAndReturnUserId" parameterType="com.geek01.yupaoBackend.domain.User"
            useGeneratedKeys="true" keyProperty="id">
        insert into user (userAccount,userPassword) values (#{userAccount},#{userPassword})
    </insert>

    <!--mp-->
    <!--<resultMap id="BaseResultMap" type="com.geek01.yupaoBackend.domain.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="avatarUrl" column="avatarUrl" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="userStatus" column="userStatus" jdbcType="INTEGER"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
        <result property="userRole" column="userRole" jdbcType="INTEGER"/>
        <result property="planetCode" column="planetCode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userName,tags,userAccount,
        avatarUrl,gender,userPassword,
        phone,email,userStatus,
        createTime,updateTime,isDelete,
        userRole,planetCode
    </sql>-->
</mapper>
